/* Mobile - Tablet  < 1024px*/

@media (max-width:1023px) {
     :root {
        --header-height: 70px;
        --navbar-height: 0px;
        --header-search: calc(var( --header-height) - var(--navbar-height));
    }
    .hide-on--mobile-tablet {
        display: none;
    }
}


/* Tablet*/

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 71px;
        /* margin-right: -54px; */
        text-align: right;
    }
    .header__cart-notice {
        text-align: center;
    }
}


/* Mobile*/

@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
}